.profile-tabs-wrapper {
  padding: 2em 5em;
  margin: auto;
  /* background: #ff8f32; */
  /* max-width: 80vw; */
}

.tabs-header-wrapper {
  width: 90vw;
  border-bottom: 1px solid #000;
}

.tabs-header-wrapper button {
  outline: none;
}

.each-tab-header {
  padding: 10px 40px;
  /* border: 1px solid #ccc; */
    margin: 0 10px;
}

.tabs-panels-wrapper {
  margin: auto;
  padding: 1em;
  background: #30303033;
  /* max-width: 90vw; */
}

.active-tab {
  background-color: #000;
  color: #fff;
}

@media all and (max-width: 500px) {
  .profile-tabs-wrapper {
    padding: 1em
  }
  .tabs-header-wrapper {
    flex-direction: column;
  }
}