.user-profile-tab {
  /* width: 100vw; */
  /* padding: 15px; */
}

.user-profile-tab .user-details {
  padding: 2em;
  background: #1e1e1e;
  color: #fff;
  width: 100%;
  margin: 0;
}

.user-details h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.user-id-btn {
  background: #2c2c2c !important;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  margin: auto;
}

 .user-id-btn:hover {
  background: #575757 !important;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
}

.referral-code-btn {
  background: #e38500 !important;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
}

.referral-code-btn:hover {
  background: #575757 !important;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  .user-details {
    flex-direction: column;
    justify-content: center;
    gap: 1em
  }
}