.transactions-page {
    width: 100%;
}

.trx-card {
    width: 100%;
    width: 300px;
    height: 60px;
    /* border: 1px solid #000; */
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #af7728;
    color: #fff;
}

.transactionTable h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

.transactionTable .table-wrapper {
    /* overflow: scroll; */
    width: 100%;
    /* height: clamp(500px, 100%, 700px); */
    /* max-width: 1200px; */
}

.transactionTable .table-wrapper table {
    background: rgb(25, 25, 25);
    color: #e4e4e4;
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
}

.transactionTable .table-wrapper table thead {
    position: sticky;
    top: 0;
}

.transactionTable .table-wrapper table th {
    font-weight: 400;
    background-color: #b4a62e;
    color: #fff;
}

.transactionTable .table-wrapper table tr {
    border-bottom: 1px solid #ddd;
    height: 50px;
}

.transactionTable .table-wrapper table td {
    font-size: 1rem;
    font-weight: 500;
    min-width: 140px;
}

/* .transactionTable .table-wrapper tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.773);
    color: #000;
} */

.transaction-cards-wrapper {
    max-width: 100%;
    overflow-x: scroll;
}